

.filter {
    margin-bottom: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    border: 0;
    font-size: 17px;
    outline: none;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

.button:last-child {
    margin-right: 0;
}

button:active {
    bottom: -2px;
}

button:hover {
    background-color: rgb(53, 53, 53);
    color: #fff;
}

.name-gk,
.name-df,
.name-cmd,
.name-fd,
.name-coach {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1em;
}
.position {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    max-width: 450px;
    text-align: center;
    height: auto;
    opacity: 0.9;
    margin: 0px 0px 50px 13px;
    padding: 5px;
}
.img-card {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.card__description {
    max-width: 300px;
    min-height: 100px;
    background-color: rgb(224, 224, 224);
    margin-bottom: 50px;
}