
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { 
    overflow-x: scroll !important; 
}
body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}
.container {
    width: 100%;
    height: auto;
}
.container-center {
    width: 1200px;
    margin: 0 auto;
}
.bg__img {
    background: url('../img/V7xo003sr2I.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}
.window__news {
    padding: 30px;
}
.card__news-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5em;
}
.card__news-item1 {
    width: 700px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
}
.card__news-item2 {
    width: 400px;
    min-height: 250px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
}
.date__match {
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
.place__match {
    font-size: 20px;
    margin-bottom: 5px;
}
.time__match {
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-size: 25px;
}
.vs__match {
    font-size: 40px;
    letter-spacing: 3px;
}
.name__team {
    font-size: 22px;
    margin-bottom: 5px;
}
.border__team-name {
    max-width: 250px;
    background-color: #fff;
    height: 3px;
    margin-bottom: 15px;
}
.detailed__match {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    cursor: pointer;
    margin: 0 auto;
}
.last__detailed-match {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 0 auto;
}
.detailed__match:hover,
.last__detailed-match:hover {
    opacity: 0.8;
    color: rgb(196, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
.check {
    font-size: 45px;
    font-weight: 600;
}
.header {
    min-height: 80px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    padding: 10px 10px;
}
.logofc {
    width: 70px;
    cursor: pointer;
}
.logofc__title {
    margin-left: 70px;
    vertical-align: middle;
    width: 70px;
}
.menu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.list__menues li {
    display: none;
    display: inline;
}
ul.list__menues li:last-child {
    margin-right: 0;
    padding: 10px 20px;
    margin-right: 20px;
}
ul.list__menues li:last-child:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background 0.3s;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #fff;
}
.text-p:hover {
    background-color: rgba(255, 254, 254, 0.966);
    color: black;
}
.text__news {
    color: #fff;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    max-width: 300px;
    height: auto;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px;
    margin: 9px;
}
.text__news-three {
    color: #fff;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    max-width: 300px;
    height: auto;
    text-transform: uppercase;
    font-weight: 300;
    padding: 7px;
}
.text__news-last {
    color: #fff;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    max-width: 300px;
    height: auto;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px;
    margin: 9px auto;
}
.text-news p {
    margin-top: 10px;
}
.flex__vs {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 30px;
}
.last__match-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 30px 0px 10px 0px;
}
.img__last-match {
    width: 70px;
    height: auto;
}
.btn__news {
    height: auto;
    border: none;
    background-color: rgb(224, 59, 59);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 7px;
}
.btn__news:hover {
    background-color: rgb(177, 30, 30);
}
.hide {
    display: none;
}
.footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right, rgb(27, 27, 27) 30%, rgb(185, 27, 27) 50%);
    padding: 30px;
}
i {
    cursor: pointer;
}
.fa-arrow-right-long {
    font-size: 40px;
}
.fa-vk,
.fa-instagram,
.fa-telegram,
.fa-envelope,
.fa-clock,
.fa-youtube {
    font-size: 30px;
}
.fa-vk:hover,
.fa-instagram:hover,
.fa-telegram:hover,
.fa-envelope:hover,
.fa-youtube:hover {
    color: black;
}
.text__footer {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.square {
    width: 600px;
    height: 500px;
    background: rgba(0, 0, 0, 0.7);
}
button {
    outline: none;
    border: 0;
    padding: 0;
    background: transparent;
}

/*  страница 2 */
.previous__grid {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    row-gap: 3em;
    gap: 1em;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
}
.flex__item-previous1 {
    color: #000;
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    background-color: #eee;
    text-align: justify;
}
.true {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 15px;
}
.txt-indent {
    text-indent: 20px;
    padding-bottom: 10px;
}
.flex__item-previous2 {
    width: 588px;
    max-height: 588px;
    color: #fff;
}
.img__fluid {
    width: 100%;
    height: auto;
}
.img__return {
    max-width: 100%;
    max-height: 500px;
}
.preview__flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0px 0px 15px 0px;
}
.preview__flex-item {
    flex-direction: row;
}
.grunge-arrow {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: auto;
    cursor: pointer;
}
.grunge-arrow-left {
    width: 50px;
    height: auto;
    cursor: pointer;
    transform: rotate(180deg);
}
.preview__match {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
/* Slider 2 */

.offer__slider {
    display: flex;
    align-items: center;
    width: 690px;
}
/* end Slider 2 */

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}
.modal__dialog {
    max-width: 400px;
    margin: 130px auto;
}
.modal__content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow-y: auto;
}
.modal__window {
    padding: 60px;
    background: #eee;
}
.modal__close {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}
.btn__modal {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 90px;
    transition: all 0.3s ease;
}
.btn__modal:hover {
    background-color: #d6101a;
}
.text__video {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.text__video-report {
    display: none;
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 15px;
}
.text__photo-report {
    display: none;
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 15px;
}
.itd__triangle {
    margin-right: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent white;
}
.text__match-review {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    color: #000;
    text-transform: uppercase;
}
.modal__border {
    border: 2px solid rgb(199, 27, 27);
}
.video__mast {
    padding: 15px;
}
.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}
/* end modal */

.photo__card {
    padding: 50px;
    text-align: center;
}
.hidden {
    display: none;
}
.img__arrow-right {
    width: 70px;
    height: auto;
    cursor: pointer;
}
.img__arrow-left {
    transform: rotate(180deg);
    width: 70px;
    height: auto;
    cursor: pointer;
}
.bg__img2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.bg__img-item {
    width: 500px;
    height: auto;
}
.text-item2 {
    width: 600px;
    color: #000;
    font-weight: 500;
    padding: 10px 20px 0px 20px;
    text-align: justify;
    background-color: #eee;
}

/* timer */

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Time p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.timer__block {
    background-color: rgb(227, 31, 31);
    margin-right: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.timer__block:last-child {
    margin-right: 0;
}
.days,
.hours,
.minutes,
.seconds {
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.timer__match {
    padding: 60px;
}
/* end timer */

/* burger */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-image: linear-gradient(90deg, #ee3d3d 0%, #e71f1f 35%, #a10a0a 100%);
    transform: translate(-100%);
    transition: transform 0.3s;
}
.menu.active {
    transform: translateX(0);
}
.menu li {
    list-style-type: none;
    max-width: 200px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px;
    text-align: center;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.3);
}
.menu li:hover {
    background-color: rgba(71, 71, 71, 0.3);
}
.icons-item-burger {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}
.logofc__burger-menu {
    display: block;
    width: 100px;    
    height: auto;
    margin: 0 auto;
}
.text__burger-menu {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
.icons-item-burger i {
    font-size: 45px;
}
.burger {
    display: none;
    width: 40px;    
    height: 34px;
    position: relative;
    border: 0.5px solid rgba(88, 85, 85, 0.322);
    border-radius: 5px;
    z-index: 2;
    overflow: hidden;
}

/* burger */
.burger span {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.burger span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.burger span:nth-of-type(3) {
    top: calc(50% + 8px);
}
.burger.active span:first-of-type {
    transform: translateX(100%);
}
.burger.active span:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}
.burger.active span:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

/* burger end */

.adaptive {
    display: none;
}

/* trip */
.img__trip {
    width: 100%;
    height: auto;
}
.trip__grid {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 1em;
    padding: 15px;
    background-image: linear-gradient(90deg, #615f5f 0%, #1f1c1ce0 35%, #1a1818 100%);
}
.trip__grid-item p {
    color: #fff;
    text-align: justify;
    padding: 5px;
}

/* table */
table {
    width: 100%; 
    border-spacing: 0;
    color: #fff;
}
tr:nth-child(2) {
    color: lightseagreen;
}
tr:nth-child(3) {
    color: lightseagreen;
}

td:nth-child(even) {
    font-size: 18px;
    font-weight: 500;
}
caption {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    padding: 15px;
    color: #fff;
}
th {
    font-size: 12px;
    padding: 15px;
    text-align: start;
}
td {
    padding: 6px;
    text-align: start;
    border-bottom: 1px solid transparent;
    padding-left: 15px;
}
.border__table {
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
}
/* trip end */
/* table end */

/* season */
.season__grid {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    gap: 1em;
    padding: 5px;
    background-color: #eee;
}

.text__title-season {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    padding: 20px;
    background-color: #eee;
}
.match__description {
    background-color: #eee;
}
/* season end */


/* contacts */
.bg__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 150px;
    color: rgba(255, 255, 255, 0.938);
    background-image: linear-gradient(90deg, #ee3d3d 0%, #e71f1f 35%, #a10a0a 100%);
}

.fa-phone,
.fa-globe,
.fa-paper-plane {
    font-size: 200px;
}
.contact,
.adress__club,
.adress__stadium,
.phone__boss,
.phone__admin {
    padding: 10px;
    margin-left: 30px;
}
.border__contact {
    width: 300px;
    border: 3px solid rgba(0, 0, 0, 0.452);
}
.contact h1 {
    font-size: 4.5vw;
}
.adress__club h2,
.adress__stadium h2,
.phone__boss h2 {
    font-size: 3vw;
    margin-bottom: 20px;
}
.adress__club p,
.adress__stadium p {
    font-size: 2.5vw;
}
.phone__boss p,
.phone__admin p {
    font-size: 2vw;
}
.phone__boss h3,
.phone__admin h3 {
    font-size: 2.5vw;
}
.phone {
	color: #000;
	font-size: 2vw;
	font-weight: 900;
}
.phone a {
	color: #000;
	font-size: 2vw;
	font-weight: 900;
}
/* contacts end */


/* Media */
@media screen and (max-width: 1200px) {
    .container-center {
        width: 980px;
        margin: 0 auto;
    }
    .adaptive {
        display: none;
    }
    .previous__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3em;
        padding-top: 30px;
        margin-left: 25px;
    }
    .flex__item-previous1 {
        width: 500px;
    }
    .flex__item-previous2 {
        width: 400px;
        max-height: 460px;
        color: #fff;
    }
    .check-game {
        width: 400px;
    }
    .offer__slider {
        width: 500px;
    }
    .modal__window {
        padding: 30px;
    }
    .text__video {
        font-size: 2vw;
    }
    .bg__img-item {
        width: 430px;
    }

    .text-item2 {
        width: 500px;
    }
    /* season */
    .season__grid {
        grid-template-columns: repeat(4, 23%);
        justify-content: center;
    }
    /* season end */

    /* contacts */
    .fa-phone,
    .fa-globe,
    .fa-paper-plane {
        font-size: 150px;
    }
    /* contacts end */
}

@media screen and (max-width: 1100px) {
    .check {
        font-size: 2vw;
    }
    .card__news-flex {
        gap: 1em;
    }
    .text__news-last {
        max-width: 200px;
    }
    /* season */
    .season__grid {
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
    }
    /* season end */
}

@media screen and (max-width: 982px) {
    .logofc__title {
        margin-left: 15px;
        width: 50px;
    }
    ul.list__menues li:last-child {
        margin-right: 0;
        padding: 2px 1px;
        margin-right: 9px;
        font-size: 15px;
    }
    .text__news {
        max-width: 200px;
        font-size: 10px;
    }
    .text__news-last {
        max-width: 150px;
        font-size: 10px;
    }
    .place__match {
        font-size: 2vw;
        margin-bottom: 5px;
    }
    .date__match {
        font-size: 2vw;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    .time__match {
        margin-bottom: 5px;
        letter-spacing: 1px;
        font-size: 2vw;
    }
    .vs__match {
        font-size: 2vw;
        letter-spacing: 3px;
    }
    .flex__vs {
        gap: 2em;
        margin-top: 10px;
    }
    .name__team {
        font-size: 2vw;
        margin-bottom: 5px;
    }
    .fa-vk,
    .fa-instagram,
    .fa-telegram,
    .fa-envelope,
    .fa-youtube {
    font-size: 2vw;
    }
    .border__team-name {
        height: 2px;
        margin-bottom: 10px;
    }
    .logofc {
        width: 50px;
        cursor: pointer;
    }
    .img__last-match {
        width: 50px;
        height: auto;
    }
    .card__news-item1 {
        width: 420px;
        min-height: 225px;
    }
    .card__news-item2 {
        width: 250px;
        min-height: 190px;
    }
    .last__match-flex {
        justify-content: space-evenly;
        gap: 0em;
        margin: 20px 0px 7px 0px;
    }
    .last__detailed-match {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
    }
    .footer {
        padding: 20px;
    }
    .tel-item {
        font-size: 10px;
    }
    .text__footer {
        font-size: 15px;
    }

    /* slide 1 */
    .container-center {
        width: 700px;
        margin: 0 auto;
    }
    .previous__grid {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        margin-left: 0px;
        gap: 1em;
    }
    .flex__item-previous1 {
        width: 700px;
    }
    .flex__item-previous2 {
        width: 700px;
        max-height: 700px;
        height: auto;
    }
    .check-game {
        width: 700px;
    }
    .offer__slider {
        width: 700px;
    }
    .modal__window {
        border-radius: 30px;
        background: #eee;
        padding: 50px;
    }
    .btn__modal {
        margin-left: 0px;
    }
    .text__video {
        display: none;
    }
    .text__video-report {
        display: block;
        text-transform: uppercase;
    }
    .text__photo-report {
        text-transform: uppercase;
        display: block;
    }
    .grunge-arrow-left {
        width: 50px;
    }
    .grunge-arrow {
        width: 50px;
    }
    /* end slide 1 */

    /* slide 2 */
    .bg__img2 {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        margin: 0px 0px;
    }
    .text-item2 {
        width: 700px;
    }
    .bg__img-item {
        width: 700px;
    }
    .timer__match {
        padding: 35px;
    }
    /* end slide 2 */
}

@media screen and (max-width: 768px) {
    /* title */
    .header {
        min-height: 0px;
    }
    .logofc__title {
        margin-left: 5px;
        width: 35px;
    }
    .text__news {
        padding: 5px;
        margin: 5px;
        font-size: 10px;
    }
    .logofc {
        width: 30px;
    }
    .card__news-item1 {
        width: 400px;
        min-height: 170px;
    }
    .last__match-flex {
        font-size: 10px;
        margin: 10px 0px 0px 0px;
    }
    .card__news-item2 {
        width: 200px;
        min-height: 128px;
    }
    .img__last-match {
        width: 30px;
    }
    .text__news-last {
        font-size: 10px;
        padding: 5px;
        margin: 5px auto;
    }
    /* trip grid */
    .trip__grid {
        grid-template-columns: repeat(1, 100%);
    }
    /* trip grid end */
    /* title end */

    /* slide 1 */
    .container-center {
        width: 450px;
        margin: 0 auto;
    }
    .list__menues {
        display: none;
    }
    .burger {
        display: block;
    }
    .flex__item-previous1 {
        width: 400px;
    }
    .flex__item-previous2 {
        width: 400px;
        height: 400px;
        height: auto;
    }
    .check-game {
        width: 400px;
    }
    .offer__slider {
        width: 400px;
    }
    .img__arrow-left {
        width: 50px;
    }
    .img__arrow-right {
        width: 50px;
    }
    .modal__window {
        border-radius: 50px;
        padding: 70px;
    }
    .text__photo-report {
        font-size: 16px;
    }
    .text__video-report {
        font-size: 16px;
    }
    /* end slide 1 */

    /* slide 2 */
    .text-item2 {
        width: 400px;
        margin: 0 auto;
    }
    .bg__img-item {
        width: 400px;
        margin: 0 auto;
    }
    .timer__match {
        margin-top: 30px;
        padding: 0px;
    }
    .modal__content {
        width: 300px;
        margin: 0 auto;
    }
    .text__match-review {
        font-size: 16px;
    }
    .modal__flex {
        padding: 0px;
    }
    /* end slide 2 */

    /* season */
    .season__grid {
        grid-template-columns: repeat(2, 48%);
        justify-content: center;
    }
    /* season end */

    .fa-phone,
    .fa-globe,
    .fa-paper-plane {
        font-size: 100px;
    }
}

@media screen and (max-width: 480px) {
    /* title */
    .card__news-flex {
        gap: 0.5em;
        display: none;
    }
    .adaptive {
        display: block;   
    }
    .bg__img {
        background: url(../img/V7xo003sr2I.jpg);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: 140%;
    }
    .window__news {
        padding: 10px;
    }
    .card__news-item1 {
        width: 100%;
        min-height: 200px;
        margin: 0 auto;
    }
    .card__news-item2 {
        width: 100%;
        min-height: 191px;
        margin: 0 auto;
    }
    .card__two-wrapper {
        padding: 10px;
        background-image: linear-gradient(90deg, #353434 0%, #1b1b1b 35%, #4e4e4e 100%);
    }
    .place__match {
        font-size: 13px;
        margin-bottom: 3px;
    }
    .date__match {
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 3px;
    }
    .time__match {
        margin-bottom: 3px;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .vs__match {
        font-size: 15px;
        margin-left: 10px;
    }
    .name__team {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .logofc {
        width: 55px;
    }
    .text__news {
        padding: 5px;
        margin: 0px auto;
        font-size: 12px;
    }
    .border__team-name {
        height: 1px;
        margin-bottom: 5px;
    }
    .text__news-last {
        max-width: 200px;
        margin: 0px auto;
        font-size: 12px;
    }
    .img__last-match {
        width: 70px;
    }
    .check {
        font-size: 50px;
    }
    .last__detailed-match {
        font-size: 18px;
    }
    td:nth-child(even) {
        font-size: 15px;
    }
    /* title end */

     /* slide 1 */
     .container-center {
        width: 350px;
    }
    .flex__item-previous1 {
        width: 350px;
    }
    .flex__item-previous2 {
        width: 350px;
        height: 350px;
    }
    .check-game {
        width: 350px;
    }
    .offer__slider {
        width: 340px;
    }
    .img__arrow-left {
        width: 35px;
    }
    .img__arrow-right {
        width: 35px;
    }
    .modal__window {
        border-radius: 50px;
        padding: 40px;
    }
    .text__photo-report {
        font-size: 14px;
    }
    .text__video-report {
        font-size: 14px;
    }
    .preview__match {
        font-size: 14px;
    }
    .grunge-arrow-left {
        width: 35px;
    }
    .grunge-arrow {
        width: 35px;
    }
    /* end slide 1 */

    /* slide 2 */
    .text-item2 {
        width: 350px;
    }
    .bg__img-item {
        width: 350px;
    }
    .Time p {
        font-size: 16px;
    }
    .modal__content {
        width: 350px;
    }
    .fa-vk,
    .fa-instagram,
    .fa-telegram,
    .fa-envelope,
    .fa-youtube{
    font-size: 20px;
    }
    .tel-item {
        font-size: 8px;
    }
    .footer {
        height: 60px;
        padding: 7px;
    }
    .text__footer {
        font-size: 13px;
    }
    /* end slide 2 */

    /* header */
    .header {
        min-height: 0px;
    }
    .logofc__title {
        margin-left: 5px;
        width: 35px;
    }
    /* header end */

    /* season */
    .season__grid {
        grid-template-columns: repeat(1, 99%);
        justify-content: center;
    }
    /* season end */

    .fa-phone,
    .fa-globe,
    .fa-paper-plane {
        font-size: 50px;
    }
}

@media screen and (max-width: 414px) {
    
    .logofc {
        width: 50px;
    }
    .flex__vs {
        gap: 1em;
        margin-top: 5px;
    }
    .border__team-name {
        height: 2px;
    }
}
/* end Media */